body, html{ height: 100%}

div.wrap{height: 100%; overflow: hidden;}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.sketch-holder{
    display: flex;
    align-self: center;
    margin-bottom: auto;
}
